.loop-pagination {
  background: white;
  border: solid 1px $color-gray-88;

  a,
  span {
    display: inline-block;
    padding: $baseline-height / 2 $baseline-height;
    margin: 0 -4px 0 0;
  }
  .prev,
  .next {
    margin: 0 -4px 0 0;
  }
  .prev {
    float: left;
  }
  .next {
    float: right;
    margin-right: 0px;
  }
  a {
    border-bottom: none;
    border-right: solid 1px transparent;
    border-left: solid 1px transparent;
    transition: all 0.1s ease-in-out;

    &:hover,
    &:active,
    &:focus {
      background: $color-gray-97;
      border-color: $color-gray-93;
    }
  }
}
.archive-header {
  background: white;
  border: solid 1px $color-gray-88;
  padding: $baseline-height;
  margin-bottom: 0;

  h2 {
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
  }
  span {
    font-weight: 300;
  }
}
.sticky.has-post-thumbnail {
  position: relative;

  .sticky-status {
    position: absolute;
    top: 0;
    left: 0;

    span {
      display: inline-block;
      background: $color-gray-20;
      color: white;
      padding: 12px 24px;
    }
  }
}

@media all and (min-width: $eleven-hundred) {

  .archive,
  .blog,
  .search {

    .post-content {

      p {

        &:last-of-type {
          margin: $baseline-height 0 0;
        }
      }
    }
  }
}